{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'css/process_monitor/port_details.css' %}">

<!-- Port Details Modal -->
<div class="modal" id="portDetailsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="portDetailsTitle">
                    <i class="fas fa-door-open"></i>
                    {% trans "Port Details" %}
                </h3>
                <button class="modal-close" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="portDetailsBody">
                <div class="loading">
                    <i class="fas fa-spinner fa-spin"></i>
                    <span>{% trans "Loading..." %}</span>
                </div>
            </div>
        </div>
    </div>
</div>
